In [5]:
#loading libraries
import warnings
import pandas as pd 
import numpy as np
warnings.filterwarnings('ignore')

In [6]:
#loading the dataset
dataset = pd.read_csv('C:\\Users\\E\\Documents\\titanic\\train.csv', sep=',')
submission = pd.read_csv('C:\\Users\\E\\Documents\\titanic\\test.csv', sep=',')
dataset.shape
dataset.Age.fillna(dataset.Age.mean(), inplace= True)
dataset.Cabin.fillna(method='bfill', inplace= True)
submission.Age.fillna(dataset.Age.mean(), inplace= True)
submission.Cabin.fillna(method='bfill', inplace = True)
submission.Fare.fillna(dataset.Fare.mean(), inplace= True)

In [7]:
submission.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,B45,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,B45,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,B45,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,B45,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,B45,S

In [8]:
# selecting the X and y data
X = dataset.iloc[:, [2,4,5,6,9]]
X_sub = submission.iloc[:, [1,3,4,5,8]]
y= dataset.iloc[:, 1]

In [9]:
#using onehotencoding method to encode the sex
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
l_enconder = LabelEncoder()
X.loc[:,'Sex'] = l_enconder.fit_transform(X.loc[:, 'Sex'])
X_sub.loc[:,'Sex'] = l_enconder.fit_transform(X_sub.loc[:, 'Sex'])
one_encoder = OneHotEncoder()
X = one_encoder.fit_transform(X)
X_sub = one_encoder.transform(X_sub)

In [10]:
# splitting the data to x_test, y_test, X_train, y_train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.1, random_state=42)

In [11]:
# implementing the regression model and scoring the model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.8222222222222222

In [12]:
lr.coef_.shape

(1, 174)

In [13]:
lr.intercept_

array([-0.20274655])

In [30]:
y_pred = lr.predict(X_sub)
gender_sub = pd.DataFrame( {'PassengerId':submission.PassengerId, 'Survived':y_pred})
gender_sub.to_csv('my_titanic_submission.csv', index = False)

In [26]:
new_sub = pd.Series({'Survived':y_pred}, index = submission.PassengerId)
new_sub.head()

PassengerId
892    NaN
893    NaN
894    NaN
895    NaN
896    NaN
dtype: object